{% extends 'master' %}

{% block content %}

<div class="col-md-10 col-md-offset-1">
		<h1 class="page-header">Welcome, {{ currentUser.name }} </h1>

		<br>
		<div class="col-md-2 col-md-offset-1">
			{{ form.open({route: 'basicMed.index'}) }}
				{{ form.button('Basic Medicine IUD','', { class: 'btn btn-success'}) }}
			{{ form.close() }}
		</div>
		<div class="col-md-2 col-md-offset-1">
			{{ form.open({route: 'compMed.index'}) }}
				{{ form.button('Compound Medicine','', { class: 'btn btn-success'}) }}
			{{ form.close() }}
		</div>
		<div class="col-md-2 col-md-offset-1">
			<form class="form-horizontal" role="form" method="POST" action="/logout">
					{{ csrfField }}
				{{ form.button('Logout','', { class: 'btn btn-danger'}) }}
			</form>
		</div>

</div>

{% endblock %}
