{% extends 'master' %}

{% block content %}

<div class="col-md-10 col-md-offset-1">
		<h1 class="page-header">Welcome, {{ currentUser.name }} </h1>

		<br>
		<div class="col-md-2 col-md-offset-1">
			{{ form.open({route: 'basicMed.index'}) }}
				{{ form.button('Basic Medicine IUD','', { class: 'btn btn-success'}) }}
			{{ form.close() }}
		</div>
		<div class="col-md-2 col-md-offset-1">
			{{ form.open({route: 'compounding.index'}) }}
				{{ form.button('Compound Medicine','', { class: 'btn btn-success'}) }}
			{{ form.close() }}
		</div>

</div>

{% endblock %}
