{% extends 'master' %}

{% block content %}

	<div class="col-md-8 col-md-offset-2">
		<br>
		<br>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th class="col-md-2">id</td>
					<td class="col-md-6">{{ consumer.id }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Create Date</th>
					<td class="col-md-6">{{ consumer.created_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Update Date</th>
					<td class="col-md-6">{{ consumer.updated_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Name</th>
					<td class="col-md-6">{{ consumer.name }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Address</th>
					<td class="col-md-6">{{ consumer.address }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Telephone Number</th>
					<td class="col-md-6">{{ consumer.TelpNo }}</td>
				</tr>
				<tr>
					<th class="col-md-2">KIS Number</th>
					<td class="col-md-6">{{ consumer.KISNumber }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Birth Date</th>
					<td class="col-md-6">{{ consumer.birthDate }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Age</th>
					<td class="col-md-6">{{ consumer.age }}</td>
				</tr>

			</tbody>
		</table>

		<table>
			<tr>
				<td style="padding-right: 10px;">

    				{{ form.open({ route: 'consumer.edit', params: {id: consumer.id} }) }}
    					{{ form.button('Update','', { class: 'btn btn-success '}) }}
    				{{ form.close() }}

    			</td>
    			<td>
    				{{ form.open({ route: 'consumer.destroy', params: {id: consumer.id} }) }}
    					{{csrfField}}
    					{{ form.button('Delete','', { class: 'btn btn-danger '}) }}

    				{{ form.close() }}
    			</td>
    		</tr>
		</table>
	</div>

{% endblock %}
