{% extends 'master' %}

{% block content %}

	<div class="col-md-10 col-md-offset-1">
			<h1 class="page-header">Welcome, {{ currentUser.name }} </h1>

			<br>
			<div class="col-md-2 col-md-offset-1">
    		{{ form.open({route: 'employee.index'}) }}
    			{{ form.button('Employee IUD','', { class: 'btn btn-success'}) }}
    		{{ form.close() }}
			</div>

			<div class="col-md-2 col-md-offset-1">
    		{{ form.open({route: 'basicMed.index'}) }}
    			{{ form.button('Basic Medicine IUD','', { class: 'btn btn-success'}) }}
    		{{ form.close() }}
			</div>
			<div class="col-md-2 col-md-offset-1">
    		{{ form.open({route: 'consumer.index'}) }}
    			{{ form.button('Consumer IUD','', { class: 'btn btn-success'}) }}
    		{{ form.close() }}
			</div>

	</div>

{% endblock %}
