{% extends 'master' %}

{% block content %}

	<div class="col-md-8 col-md-offset-2">
		<br>
		<br>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th class="col-md-2">Id</td>
					<td class="col-md-6">{{ basicMed.id }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Create Date</th>
					<td class="col-md-6">{{ basicMed.created_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Update Date</th>
					<td class="col-md-6">{{ basicMed.updated_at }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Name</th>
					<td class="col-md-6">{{ basicMed.name }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Stock</th>
					<td class="col-md-6">{{ basicMed.stock }}</td>
				</tr>
				<tr>
					<th class="col-md-2">Price Per Gram</th>
					<td class="col-md-6">{{ basicMed.pricePerGram }}</td>
				</tr>

			</tbody>
		</table>
		<table>
			<tr>
				<td style="padding-right: 10px;">

    				{{ form.open({ route: 'basicMed.edit', params: {id: basicMed.id} }) }}
    					{{ form.button('Update','', { class: 'btn btn-success '}) }}
    				{{ form.close() }}

    			</td>
    			<td>
    			</td>
    		</tr>
		</table>
	</div>


{% endblock %}
