<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stock of Drugs</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-10 col-md-offset-1">
                    <h1 class="page-header">Compound Medicine</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          Drugs Ingredients
                        </div>
												{{ form.open({route: 'compMed.store'}) }}
													{{csrfField}}
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Item ID</th>
                                        <th>Item Name</th>
                                        <th>Price (gr)</th>
																				<th>Quantity</th>
																				<th>Subtotal</th>
																				<th></th>
                                    </tr>
                                </thead>
                                <tbody>
                        				{% for compMed in compMed %}
                        					{% if compMed.compMedID == compMedLast.id %}
																		{% for basicMed in basicMed %}
																			{% if basicMed.id == compMed.basicMedID %}
																				<tr>
																					<td>{{ basicMed.id }}</td>
																					<td>{{ basicMed.name }}</td>
																					<td>{{ basicMed.pricePerGram }}</td>
																					<td>{{ compMed.quantity }}</td>
																					<td>{{ compMed.subtotal }}</td>
																					<th><a href="http://localhost:3333/compounding/{{ compMed.id }}">View</a></th>
																				</tr>
																			{% endif %}
																		{% endfor %}
																	{% endif %}
                        				{% endfor %}
                        			</tbody>
                            </table>
                            <!-- /.table-responsive -->

														<div class="form-group">
														<div class="col-sm-9">
															{{ form.submit('Compound','submit', { class: ' btn btn-success'}) }}
														</div>
														<div class="col-sm-1">
															{{ form.label('labelTotal','Total:',{ class: 'control-label'}) }}
														</div>
														<div class="col-sm-2">
															{{ form.text('total',total, { class: 'form-control'}) }}
														</div>
														</div>

                        </div>
                        <!-- /.panel-body -->
											{{ form.close() }}
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Insert New Data
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                  {{ form.open({route: 'compounding.store'}) }}

                                    {{csrfField}}

																		<div class="form-group">
																				{{ form.label('id','Item Id',{ class: 'control-label'}) }}
																				<input type="text" id='medId' name="medId" class="form-control" placeholder="Medicine Id" readonly>
																		</div>

                                      <div class="form-group">
                                          {{ form.label('name','Item Name',{ class: 'control-label'}) }}
                                          <input type="text" id='medName' name="medName" class="form-control" onkeyup="medFunction()" placeholder="Enter medicine name here...">
                                      </div>

                                      <div class="form-group">
                                          {{ form.label('quantity','Quantity',{ class: 'control-label'}) }}
                                          {{ form.text('quantity','',{ class: 'form-control'})}}
                                      </div>

                                      <script>
                                      function medFunction() {
                                        // Declare variables
                                        var input, filter, table, tr, td, i;
                                        input = document.getElementById("medName");
                                        filter = input.value.toUpperCase();
                                        table = document.getElementById("medTable");
                                        tr = table.getElementsByTagName("tr");

                                        // Loop through all table rows, and hide those who don't match the search query
                                        for (i = 0; i < tr.length; i++) {
                                          td = tr[i].getElementsByTagName("td")[1];
                                          if (td) {
                                            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                              document.getElementById('medId').value = tr[i].getElementsByTagName("td")[0].innerText
                                              tr[i].style.display = "";
                                            } else {
                                              tr[i].style.display = "none";
                                            }
                                          }
                                        }
                                      }
                                      </script>

                                      <table id="medTable" class="table table-striped table-bordered table-hover row-clickable" data-href='url://'>
                                        <thead>
                                          <tr>
                                            <th>id</th>
                                            <th>Item Name</th>
                                            <th>Price (gr)</th>
                                            <th>stock</th>
                                          </tr>
                                        </thead>
                                          <tbody>
                                          {% for basicMed in basicMed %}
                                            <tr>
                                              <td>{{ basicMed.id }}</td>
                                              <td>{{ basicMed.name }}</td>
                                              <td>{{ basicMed.pricePerGram }}</td>
                                              <td>{{ basicMed.stock }}</td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>

                                      <div class="form-group">
                                        <div class="col-sm-10">
                                          {{ form.submit('Add Item','submit', { class: ' btn btn-success'}) }}
                                        </div>
                                      </div>
                                    {{ form.close() }}

                                </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>

</body>

</html>
